apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kustomize-example
  namespace: argocd
spec:
  project: default
  source:
    path: kustom-webapp/overlays/dev
    repoURL: 'https://github.com/Malek-Zaag/argocd-demo'
    targetRevision: HEAD
  destination:
    namespace: default
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true