apiVersion: apps/v1
kind: Deployment
metadata:
  name: mywebapp
spec:
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: myhelmapp
      tier: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: myhelmapp
        tier: frontend
    spec: # Pod spec
      containers:
      - name: mycontainer
        image: "my-sample-app:latest"
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: mykustom-map
        resources:
          requests:
            memory: "16Mi" 
            cpu: "50m"    # 500milliCPUs (1/2 CPU)
          limits:
            memory: "128Mi"
            cpu: "100m"